// customizing Template colors

// template custom colors
$primary: #F5104E;
$primary-2: #F5104E;
$primary-3: #F5104E;
$primary-4: #F5104E;
$primary-5: #F5104E;
$primary-6: #F5104E;
$primary-7: #edeefe;
$primary-light: #fafafa;

$secondary: #000000;
$secondary-2: #111111;
$secondary-3: #232323;
$secondary-4: #363636;
$secondary-5: #5c5c5c;

$tertiary: #A6A6A6;
$tertiary-2: #D8D8D8;
$tertiary-3: #D7D6D3;
$tertiary-4: #AFAFAF;
$tertiary-5: #EAEAEA;
$tertiary-6: #B0B0B0;
$tertiary-7: #969696;
$tertiary-8: #999999;
$tertiary-9: #f5f5f5;
$tertiary-10: #F0F0F0;

// bulma custom config
$link: $primary;

